numpy==1.22.1
opencv-contrib-python-headless==4.5.2.52
opencv-python-headless==4.5.2.52
OpenVisus==2.1.206
Pillow==9.0.0
PyQt5==5.12.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.3
PyQtWebEngine==5.12.1
tornado==6.1
