%Image::ExifTool::UserDefined = (
    'Image::ExifTool::Exif::Main' => {
        0x87af => {
            Name => 'GeoTiffDirectoryBlock',
            Format => 'undef',
            Writable => 'undef',
            Binary => 1,
        },
        0x87b0 => {
            Name => 'GeoTiffDoubleBlock',
            Format => 'undef',
            Writable => 'undef',
            Binary => 1,
        },
        0x87b1 => {
            Name => 'GeoTiffAsciiBlock',
            Writable => 'string',
            Binary => 1,
        },
    },
);
