%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        Camera => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::Camera',
            },
        },

        GPSInfo => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::GPSInfo',
            },
        },
    },
);

%Image::ExifTool::UserDefined::Camera = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-Camera', 2 => 'Camera' },
    NAMESPACE => { 'Camera' => 'http://pix4d.com/camera/1.0/'  },
    WRITABLE => 'string',
    Yaw             => { Writable => 'real' },
    Pitch           => { Writable => 'real' },
    Roll            => { Writable => 'real' },
    IMUSampleSize   => { Writable => 'integer' },
    IMUTimeOffset   => { Writable => 'integer' },
    LineReadoutTime => { Writable => 'integer' },
    ArrayID			=> { Writable => 'integer' },
    ArrayType		=> { Writable => 'integer' },
    IMUFrequency    => { Writable => 'real' },
    PrincipalPoint  => {  },
    ModelType       => { },
    PerspectiveFocalLength => { Writable => 'real' },
    PerspectiveDistortion  => {  },
    IMULinearVelocity => { },
    GPSXYAccuracy   => { Writable => 'real' },
    GPSZAccuracy    => { Writable => 'real' },
    FlightUUID      => { },
    CentralWaveLength => { },
    BlackCurrent => { List => 'Seq' },
    WavelengthFWHM => { },
    BandName        => { },
    RigName         => { },
    RigCameraIndex  => { },
    BandName        => { List => 'Seq' },
    FocalPlaneXResolution   => { Writable => 'rational64u'},
    FocalPlaneYResolution   => {Writable => 'rational64u' },
    FocalPlaneResolutionUnit   => { Writable => 'int16u'},
    CentralWavelength => { List => 'Seq' },
    WavelengthFWHM => { List => 'Seq' },
    IMUAngularVelocity => {
        Binary => 1,
        ValueConv => 'Image::ExifTool::XMP::DecodeBase64($val)',
        ValueConvInv => 'Image::ExifTool::XMP::EncodeBase64($val)',
    },


);
%Image::ExifTool::UserDefined::GPSInfo = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-GPSInfo', 2 => 'GPSInfo' },
    NAMESPACE => { 'GPSInfo' => 'http://pix4d.com/gpsinfo/1.0/'  },
    WRITABLE => 'string',
    GPSTimeStampS  => { },
    GPSLeapSeconds  => { },
    GPSTimeFormat  => { },
    GPSFixStatus => { },

);